.box{
    width: 610px;
    height: auto;
    border: 2px solid black;
    font-size: 0;
}
.innerbox{
    width: 180px;
    height: 200px;
    margin: 10px;
    background-color: #555;
    display: inline-block;
}
.borderbox{
    border: 1px solid brown;

}
.borderbox1{
    border: 1px solid brown;
    box-sizing: border-box;
}